#featured-content h3 a {
  border-bottom-style: none;
  line-height: 1em;
  color: white;
  font-weight: 700;
}

#featured-content h2 {
  color: white;
  line-height: 0.9em;
  white-space: nowrap;
  font-size: 46px;
  position: relative;
  top: 10px;
}

#featured-content a,
#featured-content p {
  border-bottom-style: none;
  font-weight: 500;
  color: white;
}

.featured-thumbnail img {
  width: 20%;
  height: auto;
}