#featured {
  background: #F4A046 linear-gradient(90deg, #F4A046, #822833);
}

#featured-content {
  background: #F4A046 linear-gradient(90deg, #F4A046, #822833);
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
}

#featured-content h3 {
  color: white;
  line-height: 1em;
  font-size: 2em;
  font-weight: 700;
}

#featured-content h3 a {
  border-bottom-style: none;
  line-height: 1em;
  color: white;
  font-weight: 700;
}

#featured-content h2 {
  color: white;
  line-height: 0.9em;
  white-space: nowrap;
  font-size: 46px;
  position: relative;
  top: 10px;
}

#featured-content a,
#featured-content p {
  border-bottom-style: none;
  font-weight: 500;
  color: white;
}

.featured-thumbnail img {
  width: 20%;
  height: auto;
}

.featured-section {
  padding-bottom: 2em;
}

#featured-content li {
  padding-bottom: 0.5em;
}

/*
        li orient left
        lighter p weight
        less h2 padding*/
@media screen and (min-width: 800px) {
  #featured-content .sections {
    column-count: 4;
  }
}